<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Inicio'}) %>
<body>
    <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->
    <section class="product__detail__total">
        <div><h2>Detalle del producto</h2></div>
        <div class="product__detail">
            <img src="\images\oferta1.jpg" alt="producto1">
            <p class="nombre__prod__detail">Buzo blanco</p>
            <p class="descripcion__prod__detail">Esta es una breve descripcion del producto.</p>
            
        </div>
        <div class="buttons__detail">
            <a href="" class="button__detail">COMPRAR AHORA</a>
            <a href="" class="button__detail">AGREGAR A CARRITO</a>
        </div>
        
        
    </section>
     <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

</body>
</html>