<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Inicio'}) %>
<body>
    <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

    <main class="main__login">
        <form class="form__login">
            <h1 class="form__h1">BIENVENIDO</h1>
            <div>
                <label>Email<input class="form__completar" type="email" name="Email" placeholder="Email"></label>
            </div>
            <div>
                <label>Contraseña<input class="form__completar" type="password" name="password" placeholder="Contraseña"></label>
            </div>
            <div class="recordarme">
                <input type="checkbox" name="recordarme" value="recordarme"><p>Recordarme</p>
            </div>
            <div>
                <p>La combinacion ingresada de email y contraseña no es valida</p>
            </div>
            <button class="form__button" type="submit">Ingresar</button>
        </form>
    </main>

</body>