<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Inicio'}) %>
<body>
    <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

    <main class="main__login">
        <form class="form__login">
            <h1 class="form__h1">Registrate</h1>
            <label>Nombre y apellido: <input class="form__completar" type="text" name="nombreYa"></label>
            <label>Email:<input class="form__completar" type="email" name="email" ></label>
            <h4>Fecha de nacimiento</h4>
            <input id="date" type="date">
            <input class="form__completar" type="text" name="domicilio" placeholder="Domicilio">
            <h4>Elegí tu foto de usuario:</h4>
            <input type="file" name="foto usuario " accept=".pdf,.jpg,.png">
            <h4>Elegi tu contraseña</h4>
            <label>Contraseña:<input class="form__completar" type="password" name="pass"></label>
            <label>Confirmar contraseña:<input class="form__completar" type="password" name="pass"></label>
            <div class="buttons">
            <button class="form__button" type="submit">Enviar</button>
            <button class="form__button" type="reset">Borrar</button>
            </div>
        </form>
    </main>
</body>