<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Register'}) %>
<script src="/javascripts/main.js" defer></script>
<body>
    <!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

    <main class="main__login">
        <% if (typeof errors != 'undefined') { %> 
            <ul>
                <% for (let i = 0; i <  errors.length; i++) { %> 
                    <li>
                        <%= errors[i].msg %> 
                    </li>
                <% } %> 
            </ul>
        <% } %> 
        <form class="form__login" id="form__login" action="/users/store" method="post">
            <h1 class="form__h1">Registrate</h1>
            <div class="form__completar">
                <label>Nombre:</label>
                <input class="form__completar" type="text" name="username" id="username">
                <small></small>
            </div>
            <div class="form__completar">
                <label>Apellido:</label>
                <input class="form__completar" type="text" name="surname" id="surname">
                <small></small>
            </div>
            <div class="form__completar">
                <label>Email:</label>
                <input class="form__completar" type="email" name="email" id="email">
                <small></small>
            </div>
            <!-- <div><h3>Elegí tu foto de usuario:</h3>
            <input type="file" name="user_img " accept=".pdf,.jpg,.png"></div> -->
            <div class="form__completar">
                <h3>Elegi tu contraseña</h3>
                <label>Contraseña:</label>
                <input class="form__completar" type="password" name="password" id="password">
                <small></small>
            </div>
            <div class="buttons">
                <button class="form__button" type="submit">Enviar</button>
                <button class="form__button" type="reset">Borrar</button>
            </div>
        </form>
    </main>
</body>