<footer>
    <div class="todo__footer">
        <div class="div1footer">
            <ul>
                <li>LOCALES MÁS CERCANOS</li>
                <li>REGISTRATE PARA RECIBIR NOVEDADES</li>
            </ul>
        </div>
        
        <div class="div2footer">
            <p>ACERCA DE NIKE</p>
            <ul>
                <li><a href="">Noticias</a></li>
                <li><a href="">Empleo</a></li>
                <li><a href="">Inversores</a></li>
                <li><a href="">Sustentabilidad</a></li>
            </ul>
        </div>

        <div class="div3footer">
            <ul>
                <li><a href=""><img class="logo_redsocial" src="https://firebasestorage.googleapis.com/v0/b/e-commerce-d1475.appspot.com/o/tw.png?alt=media&token=d0e5a331-fa57-47e2-a107-c7dce331cfcc" alt="img_twitter"></a></li>
                <li><a href=""><img class="logo_redsocial" src="https://firebasestorage.googleapis.com/v0/b/e-commerce-d1475.appspot.com/o/face.png?alt=media&token=7bd72f84-bcc7-450c-9da8-8d7289d6f34a" alt="img_facebook"></a></li>
                <li><a href=""><img class="logo_redsocial" src="https://firebasestorage.googleapis.com/v0/b/e-commerce-d1475.appspot.com/o/yt.png?alt=media&token=bf93c0ee-32d5-475a-a623-d581405ce8c9" alt="img_youtube"></a></li>
                <li><a href=""><img class="logo_redsocial" src="https://firebasestorage.googleapis.com/v0/b/e-commerce-d1475.appspot.com/o/ig.png?alt=media&token=3e18ebec-af10-4f96-bbd1-6b3f6f7ef6be" alt="img_instagram"></a></li>
            </ul>
        </div>
    </div>
    <div class="todo2__footer">
        <div class="ubi__derechos">
            <p><span>Argentina</span>©2022 Nike, Inc. Todos los derechos reservados.</p>
        </div>
        <div class="terminos__privacidad">
            <a href="">Terminos de uso</a>
            <a href="">Politica de privacidad</a>
        </div>
    </div>
</footer>