<script src="/javascripts/search.js" defer></script>
<header class="header__container">
    <a href="/"><img class="logo" src="https://firebasestorage.googleapis.com/v0/b/e-commerce-d1475.appspot.com/o/kisspng-nike-swoosh-logo-brand-nike-5abe1b5179b2c7.6107499115224082734985.png?alt=media&token=055c67ec-c774-45b0-bad4-3d2c87c0b7f2" alt="logo"></a>
    <div class="container__menu">
            <nav class="nav1">
                <% if (usuario){ %> 
                    <a href="/products/categorie/1">HOMBRE</a>
                    <a href="/products/categorie/2">MUJER</a>
                    <a href="">OFERTAS</a>
                    <a href="/products">PRODUCTOS</a>
                    <% if (usuario.isAdmin) { %>
                        <a href="/products/create">VENDER</a>
                    <% } %>
                <% }else { %>
                    <a href="/products/categorie/1">HOMBRE</a>
                    <a href="/products/categorie/2">MUJER</a>
                    <a href="">OFERTAS</a>
                    <a href="/products">PRODUCTOS</a>
                <% } %>  
            </nav>
            <nav class="nav2">
                <% if (usuario){ %> 
                    <a href=""><%= usuario.email %> </a>
                    <a href="/cart/cart">MI CARRITO</a>
                    <a href="/cart/bought">MIS COMPRAS</a>
                    <a href="/users/logout">LOGOUT</a>
                <% }else { %>
                    <a href="/users/login">LOGIN</a>
                    <a href="/users/register">REGISTRO</a>
                <% } %>  
            </nav>                
    </div>
    <input type="search" placeholder="Buscar..." id="buscador" />
</header>